{% extends 'base.html' %}
{% load recommended %}
{% block script %}

<script type="text/javascript">

 $(document).ready(function(){

 loadTweetContainer('tweet-container',)

 });	

</script>


  
{% endblock script %}

{% block content %}

<div class="container">

	{% include "tweets/search_form.html" %}


	<div class="row">
		<div class="col-sm-3 pt-4 col-xs-12">
			<h3 class="user text-info">{{request.user}}</h3><hr>

			<h4 class="text-info">Recommend users</h4>
			<p class="lead">{% recommended request.user %}</p>
		
		</div>

		<div class="col-sm-9 pt-4">

			{% include "tweets/form.html" with btn_title='Tweet' %}

			<hr/>
		</div>

	</div>



	<div class="row">
		<div class="col-sm-3 pt-4 col-xs-12 ">
			
		</div>

		<div class="col-sm-9 pt-4">
			
			<div id="tweet-container"></div>

		<a href="#" id="loadmore" class="text-info">Load more tweets</a>

		

		</div>
	</div>
</div>

{% endblock %}